html,
body {
  padding: 5px 30px 5px 30px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  /* background-color: tomato; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
